<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="VN" value="10.171.16.201:8090" />
    <add key="VN_P1" value="10.171.16.57:8090" />
    <add key="VN_P2" value="10.171.16.58:8090" />
  </appSettings>
</configuration>